/* Invalid fields */
input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

/* Alerts */
#error-block {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 100px;
}

.login {
    width:100% !important;
    height:auto !important;
}

.smart-editable-field {
    width:100% !important;
    height:auto !important;
}

.top-deeds {
    padding:5px 10px;
}
.top-deeds input {
    min-height:35px;
}