<smart-table
      marking="{
            fields: [
                  {
                     title: 'ID',
                     field: 'id',
                     editable: false
                  },
                  {
                     title: 'Title',
                     field: 'title',
                     editable: true,
                     type: 'input',
                  },
                  {
                     title: 'Content',
                     field: 'content',
                     editable: true,
                     type: 'textarea',
                  }
            ],
            deeds: {
                searchable: {
                    isset: true,
                    callback: vm.search,
                },
                removeable: {
                    isset: true,
                    idIndex: 0,
                    callback: vm.remove,
                },
                edit: {
                    isset: true,
                    fields: [
                        {
                            label: 'Title',
                            area: 'input',
                            field: 'title'
                        },
                        {
                            label: 'Content',
                            area: 'textarea',
                            field: 'content'
                        }
                    ],
                    callback: vm.edit
                }
            }
         }"
      data="vm.news"
      pagination="vm.getPage"
      count-pages="vm.countPages"
      single-edit="vm.shortEdit"
      multiple-edit="vm.edit"
      title="{{ 'NEWS_HEAD' | translate }}">
</smart-table>
