<div class="widget widget-table action-table">
 <div class="widget-header"> <i class="icon-th-list"></i>
    <h3> {{ title }}</h3>
 </div>
 <!-- /widget-header -->
 <div class="widget-content">
    <table class="table table-striped table-bordered">
     <thead>
        <tr>
          <th data-ng-repeat="th in head" data-ng-bind="th"></th>
          <th class="td-actions"> </th>
        </tr>
     </thead>
     <tbody>
        <tr data-ng-repeat="tr in body">
          <td data-ng-repeat="td in tr"
                data-ng-bind="td.data"
                data-ng-class="{
                    'is-editable': td.editable
                }">
            </td>
          <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
        </tr>
     </tbody>
    </table>

 </div>

 <!-- /widget-content -->
</div>

<div data-ng-show="countPages" id="pagination" class="widget widget-table action-table" style="text-align:center;">
   <div class="widget-content">
  <span data-ng-repeat="page in [] | range:countPages track by $index">
     <a data-ng-if="currentPage != page"
        href="javascript:"
        data-ng-click="getPage(page)"
        data-ng-bing="page"
        >{{ page }}</a>
     <span data-ng-if="currentPage == page"
           data-ng-bind="page"></span>
  </span>
  </div>
</div>
