<div class="account-container">
	
	<div class="content clearfix">
		
		<form name="loginForm" data-ng-submit="vm.login()">
			<h1>Member Login</h1>
			<div class="login-fields">
				<p>Please provide your details</p>
				<div class="field">
					<label for="username">Username</label>
					<input type="text" id="username" data-ng-model="vm.loginData.username" data-ng-required="true" name="username" value="" placeholder="Username" class="login username-field" />
				</div> <!-- /field -->
				<div class="field">
					<label for="password">Password:</label>
					<input type="password" id="password" data-ng-required="true" name="password"  data-ng-model="vm.loginData.password" value="" placeholder="Password" class="login password-field"/>
				</div> <!-- /password -->
			</div> <!-- /login-fields -->

			<div class="login-actions">
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" data-ng-model="vm.loginData.remember" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Keep me signed in</label>
				</span>

				<button class="button btn btn-success btn-large">Sign In</button>
			</div> <!-- .actions -->
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->



<div class="login-extra">
	<a href="#">Reset Password</a>
</div> <!-- /login-extra -->